@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 8px 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:focus-visible {
  background-color: #615048;
}

@supports not selector(:focus-visible) {
  .button:focus {
    background-color: #615048;
  }
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #756157;
}

.button:disabled,
.button-disabled {
  background-color: #e5e5e5;

  pointer-events: none;
}

.button-light {
  background-color: #82b3d3;
}

.button-light:hover {
  background-color: #68a2ca;
}

.button-light:focus-visible {
  background-color: #68a2ca;
}

@supports not selector(:focus-visible) {
  .button-light:focus {
    background-color: #68a2ca;
  }
}

.button-light:active {
  background-color: #82b3d3;
}

.button-light:disabled {
  background-color: #e5e5e5;
}

.button-transparent {
  background-color: transparent;
}

.button-transparent:hover {
  background-color: transparent;
  opacity: 0.6;
}

.button-transparent:focus-visible {
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

@supports not selector(:focus-visible) {
  .button-transparent:focu {
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #83b3d3;
  }
}

.button-transparent:active {
  background-color: transparent;
}

.button-transparent:disabled {
  color: rgba(255, 255, 255, 0.1);

  background-color: transparent;
}

/* Шапка*/

.page-header {
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

/*.logo-link{}

.logo{}*/

/*Навигация*/

/*.navigation{}*/

.navigation-list {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

/*.navigation-list-item{}*/

.navigation-link {
  color: #000000;
  text-decoration: none;
}

/*.navigation-link-current{}
.navigation-user{}
.navigation-user-item{}*/

.navigation-user-link {
  color: #000000;
  text-decoration: none;
}

/*.navigation-user-link-favorites{}
.notification-badge{}*/
/* Кнопка ХОЧУ СЮДА!*/

.header-button {
  width: 160px;
}

/*Главный заголовок*/

.main {
  font-style: normal;
  color: #000000;

  background-color: #ffffff;
}

/*.main-index{}*/

/*Секция hero*/
.hero {
  text-align: center;

  background-image: url(../images/mountains.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/*.hero-image{}*/

/* Преимущества */

.advantages {
  text-align: center;
}

/*.advantages-header{}*/

.advantages-slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

/*.advantages-list{}
.list-reset{}*/

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-full {
  color: #ffffff;

  background-color: #82b3d3;
}

/*.advantages-content{}*/

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  font-weight: 400;
}

/*.advantages-img{}*/

/*Секция инфраструктура*/

.infrastructure {
  font-style: normal;
  text-align: center;
}

/*.infrastructure-header{}*/

.infrastructure-slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.infrastructure-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

/*.infrastructure-list{}
.infrastructure-item{}*/

.infrastructure-item-house {
  background-color: rgba(131, 179, 211, 0.12);
}

.infrastructure-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.infrastructure-description {
  font-weight: 400;
}

/*.infrastructure-item-food{}*/

.infrastructure-item-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
}

/*Секция поиск*/

.search {
  font-style: normal;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
}

/*Секция подписаться*/

.subscribe {
  font-style: normal;
  text-align: center;
  color: #ffffff;

  background-image: url(../images/canyon.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/*.subscribe-home{}*/

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

/*.subscribe-form{}
.subscribe-input{}
.field{}*/

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;

  background: #82b3d3;
}

/*.button-light{}*/

/*Сeкция Footer*/

.page-footer {
  font-style: normal;
  text-align: center;
}

/*.footer-social{}
.social{}
.list-reset{}
.social-item{}
.social-link{}*/

.footer-contacts-phono {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

/*.footer-logo{}*/

/*КАТАЛОГ*/

/*.wrapper{}*/

/*Секция main*/

/*.main-inner{}*/

.catalog {
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #ffffff;

  background-image: url(../images/filter.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/*.catalog-header{}*/

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

/*.breadcrumbs{}*/
/*.list-reset{}*/
/*.breadcrumbs-item*/

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

/*.breadcrumbs-link-home*/
/*.breadcrumbs-item{}*/
/*.breadcrumbs-link-current{}*/
/*.catalog-filter{}*/
/*.filter{}*/
/*.filter-form{}*/

/*.filter-group{}*/
/*.filter-group-check*/

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

/*.filter-list{}*/
/*.control-list{}*/
/*.list-reset{}*/
/*.control-item{}*/
/*.control-label{}*/
/*.control-input{}*/

.control-text {
  font-size: 18px;
  line-height: 23px;
}

/*.filter-group-radio{}*/

/*.filter-group-range{}*/
/*.range{}*/
/*.range-input-container{}*/
/*.range-item{}*/
/*.form-input{}*/
/*.range-input{}*/
/*.range-input-min{}*/
/*.range-input-max{}*/
/*.range-scale{}*/
/*.range-bar{}*/
/*.range-toggle-btn{}*/
/*.range-toggle-btn-min{}*/
/*.filter-buttons{}*/
/*.filter-submit{}*/
/*.button-light{}*/
/*.filter-reset{}*/
/*.button-transparent{}*/

/*Карточки гостиниц*/

/*.catalog-hotel{}*/
/*.catalog-sorting{}*/
/*.sorting{}*/

.sorting-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

/*.select-control{}*/
/*.sorting-view{}*/
/*.view{}*/
/*.view-link{}*/
/*.view-link-tile{}*/
/*.view-link-active{}*/
/*.view-link-slideshow{}*/
/*.catalog-hotels{}*/
/*.hotels{}*/
/*.list-reset{}*/

.hotels-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotels-link {
  color: #000000;
  text-decoration: none;
}

/*.hotels-title{}*/
/*.hotels-text{}*/
/*.hotels-text-type{}*/
/*.hotels-text-price{}*/

/*.hotels-button{}*/
/*.hotels-button-more{}*/
/*.button-light{}*/
/*.hotels-favorites{}*/
/*.hotels-rating-star{}*/
/*.hotels-rating-star-4{}*/
/*.hotels-rating-text{}*/
/*.hotels-favorites-active{}*/

/*Пагинация*/

/*.catalog-pagination{}
.pagination{}
.pagination-list{}
.pagination-item{}
.pagination-link{}
.pagination-link-current{}
.pagination-link-more{}*/
