@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  min-width: 1200px;
  min-height: 100vh;
  margin: 0;

  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;

  object-fit: contain;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 8px 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:focus-visible {
  background-color: #615048;
}

@supports not selector(:focus-visible) {
  .button:focus {
    background-color: #615048;
  }
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #756157;
}

.button:disabled,
.button-disabled {
  background-color: #e5e5e5;

  pointer-events: none;
}

.button-light {
  background-color: #82b3d3;
}

.button-light:hover {
  background-color: #68a2ca;
}

.button-light:focus-visible {
  background-color: #68a2ca;
}

@supports not selector(:focus-visible) {
  .button-light:focus {
    background-color: #68a2ca;
  }
}

.button-light:active {
  background-color: #82b3d3;
}

.button-light:disabled,
.button-light-disabled {
  background-color: #e5e5e5;
}

.button-transparent {
  background-color: transparent;
}

.button-transparent:hover {
  background-color: transparent;
  opacity: 0.6;
}

.button-transparent:focus-visible {
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

@supports not selector(:focus-visible) {
  .button-transparent:focus {
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #83b3d3;
  }
}

.button-transparent:active {
  background-color: transparent;
}

.button-transparent:disabled {
  color: rgba(255, 255, 255, 0.1);

  background-color: transparent;
}

.field {
  width: 100%;
  height: 48px;
  padding: 13px 17px 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border-color: 2px solid transparent;
  border-radius: 4px;

  -webkit-appearance: none;
  appearance: none;
}

.field::-webkit-outer-spin-button,
.field::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
  appearance: none;
}

.field[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.field:hover {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

.field:focus-visible {
  background-color: #e6e6e6;
  border-color: #83b3d3;
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

@supports not selector(:focus-visible) {
  .field:focus {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
    outline: none;
    box-shadow: 0 0 0 3px #83b3d3;
  }
}

.field:disabled {
  opacity: 0.3;
}

.field-valid {
  background-color: #ffffff;
  border-color: #7db54f;
}

.field-error {
  border-color: #ff5757;
}

.field::placeholder {
  color: #000000;

  opacity: 0.6;
}

/* Шапка*/

.page-header {
  position: relative;
  z-index: 1;

  display: grid;
  align-items: start;
  width: 100%;
  padding: 0 70px;

  gap: 20px;
  grid-template-columns: auto 1fr auto;
}

.logo-link {
  z-index: 1;

  width: 140px;
  height: 70px;
  margin-right: 24px;
  margin-bottom: -6px;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:focus-visible {
  opacity: 0.6;
}

@supports not selector(:focus-visible) {
  .logo-link:focus {
    opacity: 0.6;
  }
}

.logo-link:active {
  opacity: 0.3;
}

/*Навигация*/

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 600px;

  gap: 32px;
}

.navigation-link {
  display: inline-block;
  padding: 19px 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  opacity: 0.8;
}

.navigation-link:focus-visible {
  opacity: 0.6;
}

@supports not selector(:focus-visible) {
  .navigation-link:focus {
    opacity: 0.6;
  }
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link-current {
  text-decoration: underline;

  -webkit-text-decoration-color: #756257;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 24px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user-link {
  position: relative;

  display: inline-block;
  width: 44px;
  height: 44px;

  text-decoration: none;

  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-link:hover {
  opacity: 0.8;
}

.navigation-user-link:focus-visible {
  opacity: 0.6;
}

@supports not selector(:focus-visible) {
  .navigation-user-link:focus {
    opacity: 0.6;
  }
}

.navigation-user-link:active {
  opacity: 0.3;
}

.navigation-user-link-search {
  background-image: url("../images/svg/search.svg");
}

.navigation-user-link-favorites {
  background-image: url("../images/svg/heart.svg");
}

.notification-badge {
  position: absolute;
  top: 3px;
  right: 3px;

  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 5px;

  font-size: 10px;
  line-height: 10px;
  color: #ffffff;

  background: #7db54f;
  border-radius: 10px;
}

.header-button {
  width: 160px;
}

/*Главный заголовок*/

.main {
  flex-grow: 1;
  width: 100%;
}

/*Секция hero*/

.hero {
  position: relative;

  padding: 50px 70px 83px;

  text-align: center;
  color: #ffffff;

  background-color: #5c84ab;
  background-image: url("../images/mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 57px;

  background: url("../images/svg/step.svg") no-repeat;
}

.hero-image {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

/* Преимущества */

.advantages {
  text-align: center;
}

.advantages-header {
  padding: 69px 0;
}

.advantages-slogan {
  padding-bottom: 25px;
}

.page-title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.advantages-text {
  padding-bottom: 21px;
}

.page-text {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:not(.advantages-item-full):nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-full {
  display: flex;
  width: 100%;

  color: #ffffff;

  background-color: #82b3d3;
}

.advantages-item-revers {
  flex-direction: row-reverse;
}

.advantages-item-full .advantages-content {
  padding-top: 103px;
}

.advantages-content {
  width: 400px;
  min-height: 385px;
  padding: 115px 85px 100px;
}

.advantages-title {
  position: relative;

  margin: 0 0 30px;
  padding-bottom: 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 60px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.advantages-item-full .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-full .advantages-title {
  color: #ffffff;
}

.advantages-description {
  margin: 0;
  padding: 0;
}

.advantages-img {
  max-width: 800px;
  margin: 0;
}

.advantages-img img {
  display: block;
  width: 100%;
  height: 100%;
}

/*Секция инфраструктура*/

.infrastructure {
  text-align: center;
}

.infrastructure-header {
  padding: 64px 0;
}

.infrastructure-slogan {
  padding-bottom: 20px;
}

.infrastructure-list {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
}

.infrastructure-item {
  min-height: 385px;
  padding: 183px 85px 20px;

  background-color: rgba(131, 179, 211, 0.12);
  background-repeat: no-repeat;
  background-position: top 80px center;
}

.infrastructure-item:nth-child(2n) {
  background-color: #ffffff;
}

.infrastructure-title {
  margin: 0 0 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.infrastructure-description {
  margin: 0;
}

.infrastructure-item-house {
  background-image: url("../images/svg/housing-icon.svg");
}

.infrastructure-item-food {
  background-image: url("../images/svg/burger-icon.svg");
}

.infrastructure-item-souvenirs {
  background-image: url("../images/svg/souvenir-icon.svg");
}

/*Секция поиск*/
.search {
  padding: 96px 70px;

  text-align: center;
}

.search-title {
  margin-bottom: 20px;
}

.search-description {
  margin-bottom: 54px;
}

.search-button {
  width: 376px;

  font-size: 20px;
  line-height: 36px;
}

/*Секция подписаться*/

.subscribe {
  padding: 96px 70px 104px;
}

.subscribe-home {
  text-align: center;
  color: #ffffff;

  background-color: #5c84ab;
  background-image: url("../images/canyon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin-bottom: 20px;
}

.subscribe-text {
  margin-bottom: 54px;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.subscribe-form {
  display: grid;
  align-items: start;
  width: 684px;
  margin: 0 auto;

  grid-template-columns: 1fr auto;
}

.subscribe-input::placeholder {
  font-weight: 400;
}

.subscribe-input {
  height: 100%;

  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  max-width: 232px;
  padding: 8px 50px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

/*КАТАЛОГ*/

/*Секция main*/

.catalog {
  padding: 35px 70px 70px;

  color: #ffffff;

  background-color: #5c84ab;
  background-image: url("../images/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-header {
  padding-bottom: 39px;
}

.catalog-header-title {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;

  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -17px;

  width: 7px;
  height: 10px;

  background-image: url("../images/svg/arrow-right.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.8;
}

.breadcrumbs-link:focus-visible {
  opacity: 0.6;
}

@supports not selector(:focus-visible) {
  .breadcrumbs-link:focus {
    opacity: 0.6;
  }
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link-home {
  display: block;
  width: 13px;
  height: 15px;

  background-image: url("../images/svg/home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-form {
  display: grid;
  align-items: start;

  gap: 20px 68px;
  grid-template-columns: auto auto 1fr 191px;
}

.filter-group {
  max-width: 191px;
  margin: 0;
  padding: 0;

  border: none;
}

.filter-title {
  margin-bottom: 32px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-group-range {
  width: 100%;
  max-width: 287px;
  margin-left: auto;
}

.filter-group-range .filter-title {
  max-width: none;
}

.filter-group-buttons {
  display: flex;
  flex-direction: column;
  padding-top: 54px;
}

.filter-submit {
  margin-bottom: 32px;
  padding-bottom: 10px;
}

.control-list {
  display: grid;

  gap: 16px;
}

.control-label {
  display: grid;
  justify-content: start;
  align-items: start;

  line-height: 23px;

  gap: 16px;
  grid-template-columns: repeat(2, auto);
}

.control-input {
  position: relative;

  width: 20px;
  height: 19px;
  margin: 0;

  background-color: #ffffff;
  border: none;
  border-radius: 4px;

  -webkit-appearance: none;
  appearance: none;
}

.control-input[type="checkbox"]:checked {
  background-image: url("../images/svg/jackdaw.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 10px;
}

.control-input[type="radio"] {
  border-radius: 50%;
}

.control-input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  background-color: #3f5e72;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.control-label:hover {
  opacity: 0.6;
}

.control-label:focus-within .control-input {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.control-label:active {
  opacity: 0.3;
}

.control-input:disabled,
.control-input:disabled + .control-text {
  opacity: 0.3;

  pointer-events: none;
}

.range-input-container {
  display: grid;
  margin-bottom: 36px;

  gap: 2px;
  grid-template-columns: repeat(2, 1fr);
}

.range-item {
  position: relative;
}

.range-item label {
  position: absolute;
  right: 0;

  padding: 11px 20px;

  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.range-input {
  padding: 10px 55px 10px 18px;

  font-size: 18px;
  line-height: 24px;

  border: none;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;

  height: 20px;
}

.range-scale::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 4px;

  background-color: rgb(255, 255, 255, 0.3);
  transform: translateY(-50%);
}

.range-bar {
  position: absolute;
  top: 50%;
  z-index: 2;

  height: 4px;

  background-color: #ffffff;
  transform: translateY(-50%);
}

.range-toggle-btn {
  position: absolute;
  top: 50%;
  z-index: 2;

  width: 20px;
  height: 20px;

  background: #ffffff;
  border: none;
  border-radius: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}

.range-toggle-btn-min {
  left: 0;
}

.range-toggle-btn-max {
  right: 0;
}

.range-toggle-btn:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle-btn:focus-visible {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25), 0 0 0 3px #83b3d3;
}

@supports not selector(:focus-visible) {
  .range-toggle-btn:focus {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25), 0 0 0 3px #83b3d3;
  }
}

.range-toggle-btn:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4), 0 0 0 2px #83b3d3;
}

.range-toggle-btn:disabled {
  color: #ffffff;

  background-color: #e5e5e5;

  pointer-events: none;
}

.filter-buttons {
  width: 191px;
  height: 160px;
  margin-left: 70px;
}

/*Карточки гостиниц*/

.sorting {
  display: grid;
  align-items: center;
  padding: 50px 70px 39px;

  gap: 70px;
  grid-template-columns: 1fr auto auto;
}

.sorting-title {
  text-align: left;
}

.select-control {
  width: 292px;
  height: 49px;
  margin-left: auto;
  padding: 5px 40px 5px 18px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: transparent;
  background-image: url("../images/svg/cheap-first.svg");
  background-repeat: no-repeat;
  background-position: center right 18px;
  background-size: 12px 9px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  -webkit-appearance: none;
  appearance: none;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus-visible {
  border-color: #68a2ca;
  outline: none;
}

@supports not selector(:focus-visible) {
  .select-control:focus {
    border-color: #68a2ca;
    outline: none;
  }
}

.select-control:active {
  border-color: #3f5e72;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  opacity: 0.3;
}

.view {
  display: grid;
  justify-content: end;

  gap: 8px;
  grid-template-columns: repeat(3, auto);
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-link:hover {
  border-color: #000000;
}

.view-link:focus-visible {
  border: 2px solid #68a2ca;
}

@supports not selector(:focus-visible) {
  .view-link:focus {
    border: 2px solid #68a2ca;
  }
}

.view-link:active {
  border: 2px solid #000000;
}

.view-link:disabled {
  border: 2px solid #e5e5e5;
}

.view-link-tile {
  background-image: url("../images/svg/icon-tile.svg");
}

.view-link-slideshow {
  background-image: url("../images/svg/icon-slideshow.svg");
}

.view-link-list {
  background-image: url("../images/svg/icon-list.svg");
}

.view-link-active {
  border: 2px solid #000000;
}

.hotels {
  padding: 0 70px;
}

.hotels-list {
  display: grid;
  padding-bottom: 40px;

  border-bottom: 1px solid #e6e6e6;

  gap: 17px 20px;
  grid-template-columns: repeat(3, 1fr);
}

.hotels-item {
  display: grid;
  align-content: start;
  padding: 20px;

  border: 1px solid #e6e6e6;
  border-radius: 4px;

  gap: 16px 20px;
  grid-template-columns: repeat(2, 1fr);
}

.hotels-link {
  color: #000000;
  text-decoration: none;

  grid-column: 1/-1;
}

.hotels-link:hover {
  opacity: 0.8;
}

.hotels-link:focus-visible {
  opacity: 0.6;
}

@supports not selector(:focus-visible) {
  .hotels-link:focus {
    opacity: 0.6;
  }
}

.hotels-link:active {
  opacity: 0.3;
}

.hotels-link img {
  display: block;
  width: 100%;
  margin-bottom: 17px;
}

.hotels-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotels-item p {
  margin: 0;
}

.hotels-text + .hotels-text {
  text-align: right;
}

.hotels-favorites-active {
  background-color: #7db54f;
}

.hotels-favorites-active:hover {
  background: #6c9e42;
}

.hotels-favorites-active:focus-visible {
  color: #ffffff;

  background: #6c9e42;
}

@supports not selector(:focus-visible) {
  .hotels-favorites-active:focus {
    color: #ffffff;

    background: #6c9e42;
  }
}

.hotels-favorites-active:active {
  background: #7db54f;
}

.hotels-rating-star {
  display: block;
  height: 37px;

  background-image: url("../images/svg/star4.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.hotels-rating-star-4 {
  width: 90px;
}

.hotels-rating-star-3 {
  width: 70px;
}

.hotels-rating-star-2 {
  width: 50px;
}

.hotels-rating-text {
  display: inline-block;
  padding: 9px 10px 8px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

/*Пагинация*/

.pagination {
  padding: 37px 70px 60px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  gap: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  padding: 5px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus-visible {
  background-color: #68a2ca;
}

@supports not selector(:focus-visible) {
  .pagination-link:focus {
    background-color: #68a2ca;
  }
}

.pagination-link:active {
  color: #e5e5e5;

  background-color: #f2f2f2;
}

.pagination-link:disabled {
  background-color: #f2f2f2;
}

.pagination-link-current {
  color: #000000;

  background-color: #f2f2f2;
  border-color: transparent;

  pointer-events: none;
}

.pagination-link-more {
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  background-color: transparent;
  border-color: transparent;
}

/*Сeкция Footer*/

.page-footer {
  display: grid;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding: 40px 70px 30px;

  grid-template-columns: 200px 1fr 200px;
}

.social {
  display: grid;

  grid-template-columns: repeat(3, auto);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 50px;

  color: #82b3d3;
}

.social-link:hover {
  color: #68a2ca;
}

.social-link:focus-visible {
  color: #68a2ca;
}

@supports not selector(:focus-visible) {
  .social-link:focus {
    color: #68a2ca;
  }
}

.social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phono {
  display: inline-block;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.footer-contacts-phono:hover {
  color: #756157;
}

.footer-contacts-phono:focus-visible {
  color: #756157;
}

@supports not selector(:focus-visible) {
  .footer-contacts-phono:focus {
    color: #756157;
  }
}

.footer-contacts-phono:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  height: 33px;

  color: #000000;
}

.footer-logo:hover {
  color: #756157;
}

.footer-logo:focus-visible {
  color: #756157;
}

@supports not selector(:focus-visible) {
  .footer-logo:focus {
    color: #756157;
  }
}

.footer-logo:active {
  color: rgba(117, 97, 87, 0.3);
}

/*Модальное окно*/
/*Класс .modal-container-close отвечает за открытие/закрытие модального окна*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: grid;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;

  width: 717px;
  margin: auto;
  padding: 64px 70px;

  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;

  width: 52px;
  height: 52px;
  padding: 0;

  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button::before,
.modal-close-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 17px;
  height: 2px;

  background-color: #000000;
}

.modal-close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus-visible {
  background-color: #e6e6e6;
  border-color: #68a2ca;
  outline: none;
  box-shadow: 0 0 0 3px #68a2ca;
}

@supports not selector(:focus-visible) {
  .modal-close-button:focus {
    background-color: #e6e6e6;
    border-color: #68a2ca;
    outline: none;
    box-shadow: 0 0 0 3px #68a2ca;
  }
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-close-button::before,
.modal-close-button::after {
  opacity: 0.3;
}

.modal-title {
  margin-bottom: 64px;

  text-align: left;
}

.form {
  display: grid;

  gap: 23px 85px;
  grid-template-columns: repeat(2, 1fr);
}

.form-group {
  display: grid;
  margin: 0;
  padding: 0;

  border: none;

  gap: 0 15px;
  grid-template-columns: 120px 1fr;
}

.date {
  grid-column: 1 / -1;
}

.form-label {
  margin-top: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.date-input {
  width: 440px;
  padding: 12px 56px 12px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  background: #f2f2f2;
  background-image: url("../images/svg/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 16px 15px;
  border: none;
  border-radius: 4px;
}

.form-message {
  display: inline-block;
  margin: 4px 0 0 19px;

  font-size: 16px;
  line-height: 21px;
}

.form-message-error {
  color: #ff5757;
}

.people-input-container {
  position: relative;
}

.people-input {
  width: 110px;
  padding: 14px 30px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;

  background: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.people-button {
  position: absolute;
  top: 50%;

  width: 20px;
  height: 20px;

  background-color: transparent;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
}

.people-button::before,
.people-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 13px;
  height: 2px;

  background-color: rgba(117, 97, 87, 0.3);
  transform: translate(-50%, -50%);
}

.people-button::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.people-button-minus {
  left: 9px;
}

.people-button-minus::after {
  display: none;
}

.people-button-plus {
  right: 10px;
}

.people-button:hover::after,
.people-button:hover::before {
  background-color: #000000;
}

.people-button:focus::after,
.people-button:focus::before {
  background-color: #000000;
}

.people-button:hover {
  color: #000000;
}

.people-button:focus-visible {
  border: 3px solid #82b3d3;
  border-radius: 4px;
  outline: none;
}

@supports not selector(:focus-visible) {
  .people-button:focus {
    border: 3px solid #82b3d3;
    border-radius: 4px;
    outline: none;
  }
}

.people-button:active {
  opacity: 0.2;
}

.people-button:active::after,
.people-button:active::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.tooltip-container {
  display: flex;
  align-items: center;
  padding-left: 3px;
}

.tooltip-container .form-label {
  margin-top: 0;
}

.tooltip {
  position: relative;

  margin-left: 11px;
}

.tooltip-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;

  background-color: #83b3d3;
  border: none;
  border-radius: 50%;
}

.tooltip-toggle:hover ~ .tooltip-text {
  display: block;
}

.tooltip-toggle:focus-visible ~ .tooltip-text {
  display: block;
}

@supports not selector(:focus-visible) {
  .tooltip-toggle:focus + .tooltip-text {
    display: block;
  }
}

.tooltip-text {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;

  display: none;
  width: 256px;
  margin: 15px 0 0;
  padding: 20px 20px 23px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  z-index: -1;

  width: 12px;
  height: 12px;

  background-color: #333333;
  transform: translateX(-50%) rotate(45deg);
}

.modal-button {
  margin-top: 25px;
  padding: 18px;

  font-size: 20px;
  line-height: 24px;

  border-radius: 10px;

  grid-column: 1 / -1;
}
